@model Partial_view.Models.ProductModel
<div class="card" style="width: 18rem;">
    <img src="@Model.Image" asp-append-version=true class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Id</p>
        <p class="card-text">@Model.Price</p>
        <p class="card-text">@Model.describtion</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
